*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  display: flex;
  position: relative;
}

@media (width<= 1060px) {
  .App aside{
    position: absolute;
  }

  .App *{
    gap: 4px;
    
  }
  
}

@media (width<= 760px) {
  .App .info ul{
    width: 100%;
  }

  .App .info img{
    width: 100%;
  }
}